<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Distri-shoe-tion DB</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Distri-shoe-tion | Brand Profile</h1>
            </div>
            <div class="well">
                <h2>{{ brand.getName }}</h2>
                <p>Price-Point: ({{ brand.getPricePt }})</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Available in the following Stores:</h3>
                        </div>
                        <div class="panel-body">
                            {% if stores is not empty %}
                            <ul>
                                {% for store in stores %}
                                <li>
                                    {{ store.getName }} | {{ store.getCity }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <h3>Not currently available in any stores.</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Add {{ brand.getName }} to a store:</h3>
                        </div>
                        <div class="panel-body">
                            <form action="/add_store" method="post">
                                <input type="hidden" name="brand_id" value="{{ brand.getId }}">
                                <select name="store_id" type="text">
                                    {% for store in all_stores %}
                                    <option value="{{ store.getId }}">{{ store.getName }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-info">Add to Store</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Edit Brand Information:</h3>
                </div>
                <div class="panel-body">
                    <form action='/brands/{{ brand.getId }}' method='post'>
                        <input type='hidden' name='_method' value='patch'>

                        <div class='form-group'>
                            <label for='new_name'>Brand Name</label>
                            <input type='text' name='new_name' placeholder=' {{ brand.getName }}'>
                        </div>
                        <div class='form-group'>
                            <select name="price_pt">
                                <label for="price_pt">Update Price Point</label>
                                <option value="{{ brand.getPricePt }}"> -- </option>
                                <option value="Expensive">Expensive</option>
                                <option value="Moderately Priced">Moderately Priced</option>
                                <option value="Very Afforable">Very Affordable</option>
                            </select>
                        </div>
                        <button type='submit' class='btn btn-success'>Edit Brand</button>
                    </form>
                </div>
            </div>

            <form action='/brands' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <input type='hidden' name='brand_id' value='{{ brand.getId }}'>
                <button type='submit' class='btn btn-danger'>Delete Brand</button>
            </form>


            <a class='btn btn-info' href='/'>Home</a>
        </div>
    </body>
</html>
